name: DevOps Test
on: [push]
jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Try to build Docker image
        run: docker build -t my-test-app .
